

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ENTIRE WEBPAPP */
.App {
  margin: 0% 10%;
  padding: 15vh 50px 30vh 50px;
  background-color: rgba(228, 228, 228, 0.74);
  font: 18px;
  font-weight: bold;

  z-index: -1;
  font-family: 'Roboto', sans-serif;  
color: rgb(59, 59, 59);
  font-weight: 500;
}

html {

  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  /* Text */
  font-weight: bolder;
}

h3 {
  font-weight: 1500;
  font-size: larger;

}

input {
  border: none;
border-radius: 2px;
margin: 5px;
padding: 3px;
}

button:hover{
  color:#121212;
}

/* NAVBAR UPPER */

 button:hover{
  color:#ffffff;
  background-color: rgb(223, 10, 10);
  transition: all .25s ease;
  transform: scale(1) perspective(1px);
}

.nav button:hover {
  transform: translate3d(0px, 0px, 0px) scale(1.03) perspective(1px)
}

#ride-instead-btn {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;

}

button {
position: relative;
align-items: center;
background-color: grey;
border: 0;
border-radius: 8px;
box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
box-sizing: border-box;
color: #FFFFFF;
display: flex;
justify-content: center;
max-width: 100%;
padding: 0.5em 2em;
text-decoration: none!important;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
cursor: pointer;
transition: transform .75s ease-in-out;
margin:  5px;
display: flex;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);

}

a {
  text-decoration: none;
  color: #ffff;
  font-weight: 900;
  /* border-bottom:3px solid #ffffff ; */
}

/* NAVBAR */
.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw!important;
  z-index: 100;
  /* align-items: center; */
  background-color: lightgrey;
  transition: background-color 1s linear;
  -webkit-transition: background-color 0.2s linear;
  display: flex;
  justify-content: center;
  padding: 1.5vh;
}

#brand-logo {
height: 2.5em;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
border-radius: 5px;
position: absolute ;
left:4%;
}
#brand-text {
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 25px;
  position: absolute ;
  left:10%;
  border: solid white 2px;
  }

/* LOWER BAR */
  .go-to-search {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    padding: 20px;
    align-items: center;
    overflow: hidden;
    bottom: auto;
  }
/* HOME VIEW */

.home-view {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;

}
.home-view h2 {
  
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.home-view  h3 {
  padding: 3px;
  width: 20%;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
  background-image: linear-gradient(90deg,#ffffff00 0%, #00318b7e 20% 80%, #ffffff00) ;
}

.home-view article article{
  
border-radius: 10px;
padding: 1px 0 0 0;
margin-bottom: 30px;
}

.home-view p {
margin: 0 5%;
}

.home-view img {
  border-radius: 10px;
  margin: 5px;

}

.mitBahn-greet {
  background-color: white;
  color: grey;

  margin: 5%;
}
.mitBahn-greet-text {
  margin: 15% 0;
  margin-bottom: 200px;
  border-radius: 10px;
padding: 10px;
background-color: #00dbeb48;
border: 5px solid rgba(36, 167, 255, 0.336);

}

/* USER EDITIG PAGE */

.edit-form  label{
margin: 0 0px 0 20px;
}

.spacer-editpage {
  margin: 5vh;
}

 .btn-editpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GROUPS */

.add-ride {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-ride label {
  padding-left: 1em ;
}
.add-ride button {
  margin-left: 1em;
}

.group-card-bgr {

border-radius: 10px;
border-color: black;
margin: 10px;
padding: 10px;
background-color: rgb(201, 201, 201);
}

.group-bar img{

  position: relative;
width: 100px;
  border-radius: 5px;
  border: 1px solid white;
}

.group-bar img:hover {
    color: rgb(18, 19, 43);
    background:  linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00dbeb75);
    box-shadow: 0 0 30px rgb(36, 69, 177);
    transition: .25s ease-in;
    transition: .25s ease-out;
    border: 3px solid rgb(31, 0, 82);
}

.created-groups {
  background-color: rgb(207, 211, 216);
  border-radius: 4px;
  padding: 2em;
  margin-bottom: 2em;

  align-items: center;
}

.created-groups h3 {
  position: relative;
  top:-30px;
  font-size: 1.5em;
  background: darkgrey;
  border-radius: 2px

}

.joined-groups {
  background-color: rgb(215, 211, 207);
  border-radius: 4px;
  padding: 2em;

}
.joined-groups h3 {
  position: relative;
  top:-30px;
  font-size: 1.5em;
  background: darkgrey;
  border-radius: 2px;


}

.created-groups a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;

}
/* SEARCH GROUP */

.search-train {
  margin-bottom: 10vh;
}

.from,
.to:not(.end) {
  background-color: darkgray;
  position: relative;
  left: 25%;
  width: 200px;
  border-radius: 2px;
  padding: 2px;

}
.start,
.end {
  /* display: flex;
  justify-content: center; */
  color: #000000;
  font-size: 15px;

}

.element-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  height: 400%;
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  font-size: 10px;

}

.search-dyn-element > a {
 display: flex;
 justify-content: space-around;
 /* align-items: flex-start; */
background-color: lightgrey;
margin: 5px;
}
.element-stations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 40%;


}
.element-stations > .from,
.element-stations > .to {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: grey;
  margin-left: 30%;
} 

/* GROUP DETAILS */

#message-btn {
  display: flex;
  justify-content: center;
  align-items: center;
width: 20%;
  margin-left: 40%;
  margin-right: 40%
}

.groupdetails-btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%
}

/* GROUP DETAILS */

.group-details {
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 3vh;
}
chatMessage._id {
  background-image: linear-gradient(90deg, #004d8b7e 10%, #004c8b1c) ;
}
.message-title {
  margin-top: 10vh;
}

.marker {
  font-size: 7px;
}

.advantages-list{
  list-style:square;
  text-align: left;
}
